.avia-section.av-hwz26k-38300bbc8bbaae592c7014dd59253798{
background-color:#f2f2f2;
background-image:unset;
}
.avia-section.av-hwz26k-38300bbc8bbaae592c7014dd59253798 .av-extra-border-element .av-extra-border-inner{
background-color:#f2f2f2;
}

#top .av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-e0iwks-8b78355b891c16c0973d73f0a4900329{
height:35px;
}

#top .hr.hr-invisible.av-2nnolo-38e0e55546ecfcba887556de69fd540b{
height:35px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-3kx664-b029f115126180532e320b2b53c08d49 .av-special-heading-tag{
font-size:0.8em;
}
}
