#top .av-special-heading.av-125f6p7-7d3157ab811a3d6e1911e48f4fb5cb59{
padding-bottom:10px;
}
body .av-special-heading.av-125f6p7-7d3157ab811a3d6e1911e48f4fb5cb59 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-125f6p7-7d3157ab811a3d6e1911e48f4fb5cb59 .av-subheading{
font-size:15px;
}

.flex_column.av-3u76yc-c84b422dc4fe3bc6b56f2a251efbc667{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-t6m7vt-04d05d1ce7f7ca04f3cc040bd219a96a{
height:10px;
}

#top .hr.hr-invisible.av-1jmx1zd-921b1c2e77218378d021a33d2c4a6bba{
height:10px;
}

