#top .av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-g2f4hr-f5d73fcad47d6ac77d18ef092064fa1f{
height:15px;
}

.flex_column.av-1d8ub3-e3b9f4e8f98571e0444e624d04c4fc4b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-21-59582e40db3a1d28c18b5bcfd074fb52{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-19-0d18f8df1547836e067a84c6b3101bd7{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-17-6ff6eaba182471d14ba9f4ed04384a70{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-15-ed75064a37b7cc546295c6e35fb9faef{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-13-5c0d0933455fc791ff898e7bfa659c9f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1d8ub3-11-7e97066dc67296dccf6043f7e1a3ef6a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2vmkpb-9-fece7264bb45aedc5069ae1cc2821453{
height:20px;
}

#top .hr.hr-invisible.av-2vmkpb-6-fa308b206a2c548063c212f41639308c{
height:20px;
}

#top .hr.hr-invisible.av-2vmkpb-5-c1824789d62885c3b138db2b0c453cc1{
height:15px;
}

.flex_column.av-1d8ub3-8-ac79cccf1f1ccb5d0436fcbc69fcce4f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2vmkpb-3-e8506af8e1f3e1faa48ea885b787a8ad{
height:15px;
}

.flex_column.av-245royf-7052d4c9170fd3c569855cc6f5caf8e4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-1443atz-f620be78fa67b3ee57fbae6901a00f28{
height:15px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-l9q05z-60c0a099449bfbd131133cb138dddb29 .av-special-heading-tag{
font-size:0.8em;
}
}
