#top .av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919 .av-subheading{
font-size:15px;
}

.flex_column.av-sb356-cf788147cbe895ede1fc609c5421c254{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-ynzvu-978703e8ab20656921d8f39a7e13e113{
height:10px;
}

.flex_column.av-nxmx90-760581b4a4c0a3b0936d5112c33b74a5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-44u2ui-8b5511787a4db4668b3de6b2d7245031{
margin-top:-30px;
height:1px;
}

#top .hr.hr-invisible.av-44u2ui-8b5511787a4db4668b3de6b2d7245031{
margin-top:-30px;
height:1px;
}

#top .hr.hr-invisible.av-44u2ui-8b5511787a4db4668b3de6b2d7245031{
margin-top:-30px;
height:1px;
}

#top .hr.hr-invisible.av-44u2ui-8b5511787a4db4668b3de6b2d7245031{
margin-top:-30px;
height:1px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-f2852db0e65d3809d60d4c202148390d{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-1xzta5w-a148925eb7d199c2e270fe3f70a8d5d0{
border-radius:0px 0px 0px 0px;
padding:0px 3px 0px 0px;
}

.flex_column.av-nxmx90-63ce15c5f0224cce76a34c9283f2734c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-nxmx90-63ce15c5f0224cce76a34c9283f2734c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-nxmx90-63ce15c5f0224cce76a34c9283f2734c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-prb19w-01f70025fd5cf3401456269ac3357919 .av-special-heading-tag{
font-size:0.8em;
}
}
