.avia-image-container.av-7jwdsb-3e010ead19fe3ccf96e0e200b13d0dee img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7jwdsb-3e010ead19fe3ccf96e0e200b13d0dee .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l157zosb-0d84ca744085bacaa04dc2fb3e11a4a4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-l157zosb-0d84ca744085bacaa04dc2fb3e11a4a4 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-lsxbkbxg-dd264457895e2a2ab7e0ff2456de15bf img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lsxbkbxg-dd264457895e2a2ab7e0ff2456de15bf .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-4vyld7-62872495eeee5c276ce0fd18c32dee95 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4vyld7-62872495eeee5c276ce0fd18c32dee95 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-l158drcb-2c52e11d9d0e1e997b73d1fcc61d3033{
height:30px;
}

