.flex_column.av-bv36j9-efa6ad02f28ffbc7651627c796eda0bf{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-397b11h-444dad7f545fba7f7ed2c1ae25eabca4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-397b11h-444dad7f545fba7f7ed2c1ae25eabca4 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column.av-bv36j9-37-dc0a9edc127bff08bb797dfd915bab98{
margin-top:-50px;
margin-bottom:0px;
}
.flex_column.av-bv36j9-37-dc0a9edc127bff08bb797dfd915bab98{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-bv36j9-37-dc0a9edc127bff08bb797dfd915bab98{
margin-top:-50px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-37dlmpx-7162b7eaeba7f7d08ae2ebc90c83853f{
height:30px;
}

#top .hr.hr-invisible.av-2d10cl-384f5ea91f0c635853f69477d01ced78{
height:30px;
}

#top .flex_column.av-2ns5bqt-30-58f9b68b9e699aff6e86f5f94f34e3ea{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2ns5bqt-30-58f9b68b9e699aff6e86f5f94f34e3ea{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-2ns5bqt-30-58f9b68b9e699aff6e86f5f94f34e3ea{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-25ah88-3bed0ae140d6b56a9990f83e7956c24d{
padding-bottom:10px;
}
body .av-special-heading.av-25ah88-3bed0ae140d6b56a9990f83e7956c24d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-25ah88-3bed0ae140d6b56a9990f83e7956c24d .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-1xjqmd-f8452178df858c1f938aa82fa7baf66f{
padding-bottom:10px;
}
body .av-special-heading.av-1xjqmd-f8452178df858c1f938aa82fa7baf66f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1xjqmd-f8452178df858c1f938aa82fa7baf66f .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-25fio5-31-685d5669c12c499844fe107a0562b454{
height:10px;
}

#top .flex_column.av-amsqud-d2233d2dca0c91309b76f0175ffb06d7{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-amsqud-d2233d2dca0c91309b76f0175ffb06d7{
border-radius:0px 0px 0px 0px;
padding:20px 20px 20px 20px;
background-color:rgba(202,206,209,0.64);
}
.responsive #top #wrap_all .flex_column.av-amsqud-d2233d2dca0c91309b76f0175ffb06d7{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.av-72h6tx-e6a3cd2b6381b1d6656aec8e619b9f97{
margin-top:20px;
margin-bottom:20px;
}
.hr.av-72h6tx-e6a3cd2b6381b1d6656aec8e619b9f97 .hr-inner{
width:100%;
border-color:#ffffff;
}

#top .hr.av-4cjdth-59c699ab93c60668af0e612748461479{
margin-top:20px;
margin-bottom:20px;
}
.hr.av-4cjdth-59c699ab93c60668af0e612748461479 .hr-inner{
width:100%;
border-color:#ffffff;
}

#top .hr.hr-invisible.av-lwru3d1s-eb248fdb315d3c74d48446823f6f001d{
height:30px;
}

#top .flex_column.av-2ns5bqt-28-c66f8e0752cf9af3613d740416c3e853{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2ns5bqt-28-c66f8e0752cf9af3613d740416c3e853{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-2ns5bqt-28-c66f8e0752cf9af3613d740416c3e853{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-ra0s3c-c524c90dd36b2a304664c2954caf381d{
padding-bottom:10px;
}
body .av-special-heading.av-ra0s3c-c524c90dd36b2a304664c2954caf381d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ra0s3c-c524c90dd36b2a304664c2954caf381d .av-subheading{
font-size:15px;
}

.flex_column.av-19v4ok5-b66896394ec02a32589ccc1e20da720b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1y8zwlx-20-06be48cd2580c665b3b5fdf1a64f2884{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-5tngp1-38a15ebeb8e516149793a6c341fe8a99{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gffod1-d28a99e2dd9b8cf6c0a013e69e65b3d2{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gffod1-24-3a953e13fd179773fe0241e3f752eb4b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1y8zwlx-281aeb52a8b716c0df780a2cc802ad2c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-5gm2jp-8e72d7730565140cccc9110610baf644{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1y8zwlx-16-de9326c0ed96eba7a6a585e888d7b21d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-6ahted-f399d70bd53bc728f0db78d62c68a488{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1o351dh-14-56dcff304118e88c2908154e7846e3e4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1tqe7l1-12f97b2ff100730ae824fa99007efc75{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gffod1-22-b612f16b5b50a486bd02d03a48a665f3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1jpcix1-4dad6f3d25aa5944b1a6aa264e46eba6{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1eevj2d-a251ac8ebccb87aef4425472b8527f3d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1jpcix1-10-22d85bcc33dda45d437bf0be115105c4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-27lyqt-977cc4707047560457b7538a916ac0e0{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-iz6hx-4e8c813b04c5a8780b7319fb61b11bd3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-19v4ok5-8-df214b634cca24759155e97fa4b8a613{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-143potx-e8c627d605de39095d0e7cb24782786f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2lai85-10a81832d700d95aeebbb95245ba5ae9{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-6j8vzp-2271d893dcb8566b17ceef42890f3716{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-68rvgl-ca35c062a6469aa88875e98fd82960d8{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gffod1-4-e57fd25b014c9c38642fef9f8ef03b49{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-6j28sl-b171ab4392731e6b001131dbdcdc147f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-leed39-8ee3761ea308ec0f3ed175166a91dce3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1wyb0l-651a88f631b7330a3280e1f1ffa83609{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-92kcr9-9ecbc5e3e055a8bb826ddb20202fdf03{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-82crqt-e4b79cc2805769998a5c2a96e54ebc8f{
padding-bottom:10px;
}
body .av-special-heading.av-82crqt-e4b79cc2805769998a5c2a96e54ebc8f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-82crqt-e4b79cc2805769998a5c2a96e54ebc8f .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-e8s8l-5dffb6fd174c971b106703dc04a7d1a3{
height:50px;
}

#top .hr.hr-invisible.av-34idmt-8a23d9fc8105d8a82e0febd8d4a60b5c{
height:50px;
}

