#top .av-special-heading.av-kx7le77f-5ebb5d6e472c6bc89f3b1240b8be77a4{
padding-bottom:10px;
}
body .av-special-heading.av-kx7le77f-5ebb5d6e472c6bc89f3b1240b8be77a4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kx7le77f-5ebb5d6e472c6bc89f3b1240b8be77a4 .av-subheading{
font-size:15px;
}

.avia-image-container.av-m8gdejeb-b909ec8ebedf9cedc9cd2b1f5c3e1df9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m8gdejeb-b909ec8ebedf9cedc9cd2b1f5c3e1df9 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-17sol52-585a70ebc90d45421b9eedf9cf1ea30d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-lxa7nqel-fddb3b85a8ec4f0bbf72b9f9e5f986bc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-lxa7nqel-fddb3b85a8ec4f0bbf72b9f9e5f986bc .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-imp9wm-a1bef48c448bdcaa108072d8edb9ef5d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-3rjj0ww-4e4fc54f0f779453bf176f4824721453{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-c1r0io-02d42fa70a928e81481f2e89a1e6edc4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-1rqh1fk-8159aeb75dd79bdc0f937ff4393d9e6b{
height:10px;
}

