#top .av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-13mcawo-0b9289c9be0c4d5d4943fc9abcc74dfe{
height:35px;
}

.flex_column.av-11y5t2w-ab22c2469207ec18b079f51432b42a2e{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-y4dvzc-bcaef52b45d4305309ef6b2a24553bd3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-wxzlzs-c7c8e933717c5b735ad1573b1a233a47{
height:35px;
}

.flex_column.av-umofbc-74365f37855917b9b33f214d8672ac33{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#10355e;
}

#top .av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .av-subheading{
font-size:15px;
}

.flex_column.av-q6a8y0-f277a8e5d393434ee9e9f6981858020f{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .av-subheading{
font-size:15px;
}

.flex_column.av-l8t588-272f3ded7063a792e4d51db3d08497fd{
border-width:2px;
border-color:#10355e;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726{
padding-bottom:0;
color:#10355e;
font-size:28px;
}
body .av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .special-heading-inner-border{
border-color:#10355e;
}
.av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-f8kq14-3222da7acafb716b1bf65f7bb5028b1b{
height:35px;
}

.flex_column.av-1dqwjs-c713140f8ff177a17fc24e45baa05a52{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .av-subheading{
font-size:15px;
}

.flex_column.av-9hp0qw-d3e7250d049b9210558b40a2f0a78086{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .av-subheading{
font-size:15px;
}

.flex_column.av-2ck4ag-8a3289f2233f16dac7b5f6abf695babb{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

#top .hr.hr-invisible.av-2xvfqw-5a980c373919f08908a93a5871396950{
height:35px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-8ufag-48cd853dddb4b4d4203054bdddda92e3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-to9548-53d6fa3c3006a87fede0d5953c194495 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-oshrmg-0e6d14086c801b530125cf51cf8f9b51 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-zptk-9ba82d735ef31e33ca5ab1acb9249726 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-chs1wo-e3e6c96f71149c65e412ed292376fea3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-k06pxp9g-c491d159cd09cb716f3aa2acaf0b1c4b .av-special-heading-tag{
font-size:0.8em;
}
}
