#top .av-special-heading.av-kx7le77f-f12cdf28e93e06b519fad7f80b5383f0{
padding-bottom:10px;
}
body .av-special-heading.av-kx7le77f-f12cdf28e93e06b519fad7f80b5383f0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kx7le77f-f12cdf28e93e06b519fad7f80b5383f0 .av-subheading{
font-size:15px;
}

.avia-image-container.av-2ykfpzm-af4c61b271bec2756307300eafdc6f50 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-2ykfpzm-af4c61b271bec2756307300eafdc6f50 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-1phv31u-657deae78f2f452eb7cbaa9e0f8b6737{
height:10px;
}

