#top .av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-z5luj9-ed36f02604d6e33037b7fb39586d03da{
height:35px;
}

.flex_column.av-ycp945-b4b1ace67eb607484ded0b15f3ec3de2{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#10355e;
}

#top .av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .av-subheading{
font-size:15px;
}

.flex_column.av-sn2rx1-f9a2b03924a25b1b5441434e8ac2c3ff{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#10355e;
}

#top .av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .av-subheading{
font-size:15px;
}

.flex_column.av-os7ms5-8fde39bf85820b928eed9d09711323a4{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-j1qah1-dde294180d2c30dc10b69bb446b520fb{
height:35px;
}

.flex_column.av-1sp1d1-f52af994623c646602a351626a04d525{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#caced1;
}

#top .av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .av-subheading{
font-size:15px;
}

.flex_column.av-c4rvv9-0b94917002274910bb2ff78331898bb4{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b{
padding-bottom:10px;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .av-subheading{
font-size:15px;
}

.flex_column.av-88ny2t-3fb82112f2ad20236edf63ed344e8e5a{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295{
padding-bottom:10px;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .av-subheading{
font-size:15px;
}

.flex_column.av-5v811x-961cb3adc83bef52f6d6ddc0fc2187ab{
border-width:1px;
border-color:#10355e;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707{
padding-bottom:10px;
color:#10355e;
font-size:28px;
}
body .av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .special-heading-inner-border{
border-color:#10355e;
}
.av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-2fhq45-afe5f2862e4a917cd9af4681343dde12{
height:35px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-10r43ut-a8b874334a578f75952c8ccce73f1cd3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-w7iej9-41947fa8e9f58c6f6a0d879391fc2c28 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-qtw0w5-f16502552b6b7d20b875ede0cc98915f .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-mhfb45-fc14eb0785ade2119b72618989dab048 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-1kseg5-39328c2f75915d2fd5b7f0572061271b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-bj7cmd-41d31b5a9adc6e776d830a4284836e2b .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lgex2z1r-4ad050e096ed760bdc893d01dc148295 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-3i2eed-5f3b4689d4d17ff627ab0105bb12d707 .av-special-heading-tag{
font-size:0.8em;
}
}
