#top .av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651{
padding-bottom:10px;
font-size:28px;
}
body .av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651 .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1u0ai83-b67848b0e1a21bfe481c5b2fefe8b318{
height:50px;
}

.flex_column.av-1s7xc0j-e0336d55f2dd3eade2c279a93fb123ab{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-1o8kkz7-eda4c8314cb6e80002ff2b28f1b03287{
height:50px;
}

.flex_column.av-1m3jb0j-777ae53a19061438c27202b97eb37065{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-1kjdwyb-006be6cbe3b9b58c02da498d7603cb85{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-1kjdwyb-006be6cbe3b9b58c02da498d7603cb85 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1kjdwyb-006be6cbe3b9b58c02da498d7603cb85 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-1kjdwyb-006be6cbe3b9b58c02da498d7603cb85 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1jrcm2r-94915255b04ec470131876e0e69984bb{
height:10px;
}

#top .av_textblock_section.av-1h644qr-b1d481d85bb2eb56c67f6cb156255abc .avia_textblock{
color:#ffffff;
}

.flex_column.av-1fstnkj-54c6282a631da2dde190d11c7910db7c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-1egorb7-addd5c8d59ffc906798857c9e9b9f8aa img.avia_image{
box-shadow:none;
}
.avia-image-container.av-1egorb7-addd5c8d59ffc906798857c9e9b9f8aa .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-1d5s89v-965ea9845b2d5a189389adf50c097418{
height:50px;
}

.flex_column.av-1b3wrj7-a136efabde900afa88a24585f2c31257{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-392uer-3abb60ad5ae8065180ae334982c08cd6{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-392uer-3abb60ad5ae8065180ae334982c08cd6 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-392uer-3abb60ad5ae8065180ae334982c08cd6 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-392uer-3abb60ad5ae8065180ae334982c08cd6 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-17tg5ar-f4b7f1e19ef63b31fe5e7593308113e1{
height:10px;
}

#top .av_textblock_section.av-16yi8zn-e27611a8b018957b381ca289ae018315 .avia_textblock{
color:#ffffff;
}

.flex_column.av-151q1gz-3fe3e5f5a1f7ec18f8d588883a8d9b8d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-138uv43-cd00be25fb38c6fee2ab32d25e19cff0 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-138uv43-cd00be25fb38c6fee2ab32d25e19cff0 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-113ivcj-a3d6d1c9536a5ce71c0a5176e3661866{
height:50px;
}

.flex_column.av-105idk3-cf7eb41d1b30fb82cb391ffe41dc0987{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-xvuk83-19966bf7c836d460a515282b0f7237c1{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-xvuk83-19966bf7c836d460a515282b0f7237c1 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-xvuk83-19966bf7c836d460a515282b0f7237c1 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-xvuk83-19966bf7c836d460a515282b0f7237c1 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-wkmvyb-2813e2b7c3ee2a4844bd2da85642cc80{
height:10px;
}

#top .av_textblock_section.av-uin4w3-3fd32a86c394220a192bbc3901c692ed .avia_textblock{
color:#ffffff;
}

.flex_column.av-sf60j7-aa962f3a66a1a6a0f4bdddb6055ac4dd{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-r5upoj-ff5ee9aa445ae7b646dc8973022af0ed img.avia_image{
box-shadow:none;
}
.avia-image-container.av-r5upoj-ff5ee9aa445ae7b646dc8973022af0ed .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-pmybzn-aaad98c6b2c3cd7983e218f29fc27e2d{
height:50px;
}

.flex_column.av-ompoeb-7193c93f79c4be93118a63f4f0e1cf19{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-2ajpbn-daeb55c87a34687434e530a29c272cbf{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-2ajpbn-daeb55c87a34687434e530a29c272cbf .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2ajpbn-daeb55c87a34687434e530a29c272cbf .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-2ajpbn-daeb55c87a34687434e530a29c272cbf .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-20eh6b-1e765725a22ffca933b98bafdf8b2d6a{
height:10px;
}

#top .av_textblock_section.av-ju2ttv-87b29c43b56b3e376e72f6b7ebcb039c .avia_textblock{
color:#ffffff;
}

.flex_column.av-hxzwsz-80a3a90285423e62460a1b065de9fd88{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-f1z9pf-2ff0da76653aee58429ba06f2a0735e1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-f1z9pf-2ff0da76653aee58429ba06f2a0735e1 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-et0hc3-13745bde34f50b5967bea42ad8d3025e{
height:50px;
}

.flex_column.av-clp44j-50e479eb00d4493b2f7fc932154dc7f5{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#2c90cf;
}

#top .av-special-heading.av-b53943-f1e708361cbf555bbad6453257680b94{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-b53943-f1e708361cbf555bbad6453257680b94 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-b53943-f1e708361cbf555bbad6453257680b94 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-b53943-f1e708361cbf555bbad6453257680b94 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-8k6cg3-a31c30bda20b8858425bef498ef02eb2{
height:10px;
}

#top .av_textblock_section.av-70fj2r-dfa95816f303ccc9e6dba900607967e4 .avia_textblock{
color:#ffffff;
}

.flex_column.av-jtoqr-2bf035a7bdd73ddd0f84e9e528a3f71c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4nyc1v-01355cc44ce6562796d79857882bb0ab img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4nyc1v-01355cc44ce6562796d79857882bb0ab .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-39kuk3-9d4b2f106f884f6eba3cd2c06630990f{
height:50px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-4i7ps3-9d188a32c0123d631cfb5d539936c651 .av-special-heading-tag{
font-size:0.8em;
}
}
