#top #wrap_all .avia-slideshow .av-slideshow-caption.av-2kb8d1i-afd2b760f1d7acd731995ee0ed094c46__0 .avia-caption-title{
font-size:22px;
}
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-2kb8d1i-afd2b760f1d7acd731995ee0ed094c46__1 .avia-caption-title{
font-size:22px;
}
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-2kb8d1i-afd2b760f1d7acd731995ee0ed094c46__2 .avia-caption-title{
font-size:22px;
}

#top .hr.hr-invisible.av-27swxxi-01ce7c95b6da959da14136dc68d985f7{
height:20px;
}

.flex_column.av-240ptl2-3040ede31bf7dd96d0314f359d7c0fcf{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-20r1xau-c2a5932257bd18f4937440562ebbb437{
margin-top:-30px;
height:1px;
}

.flex_column.av-1i3ztxy-a7e21ddd320f1050166e3a4729a63fc0{
border-radius:0px 0px 0px 0px;
padding:20px 20px 20px 20px;
background-color:#caced1;
}

#top .hr.hr-invisible.av-1f0rmpi-d50fb88b54b366914b8db51d9f9b5bb2{
height:25px;
}

#top .hr.hr-invisible.av-1xdqusm-38b8ddd51e8fdeaca2b4d514ed06349f{
height:45px;
}

.flex_column.av-1v96q46-6746f05777f40cfd7282869c0f8ecbe6{
border-radius:0px 0px 0px 0px;
padding:5px 5px 5px 5px;
}

#top .hr.hr-invisible.av-1rs2p1y-b1cc49edc7a939e84a3b611a521628db{
margin-top:-30px;
height:1px;
}

.flex_column.av-x2et8m-7faee3681aaa35f53f39ac501edcc83c{
border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#0d355e;
}

#top .av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187{
padding-bottom:0;
color:#ffffff;
font-size:23px;
}
body .av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .av-special-heading-tag{
font-size:23px;
}
.av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1ampwgm-101b5bdcc852a4ee2cf3deccb7f790cb{
height:45px;
}

.flex_column.av-4kkas6-7bbe3753167940380c215d176053fc05{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-16kn76u-61380b5496a9aa987e33c7e5b4ef6cf3{
margin-top:-30px;
height:1px;
}

.flex_column.av-x2et8m-12-f31b2cfdd2b3f6c2336b5fb2fb478621{
border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#0d355e;
}

#top .av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c{
padding-bottom:10px;
color:#ffffff;
font-size:21px;
}
body .av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .av-special-heading-tag{
font-size:21px;
}
.av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf{
padding-bottom:0;
color:#ffffff;
font-size:23px;
}
body .av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .av-special-heading-tag{
font-size:23px;
}
.av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-in8tqe-7492f8206f92d0ba08c9e919f45aeffc .avia_textblock{
color:#ffffff;
}

.flex_column.av-13arsue-b0273aefe0b7f2d1ee5743f8299e1ffe{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-zqqqx2-39932e0af557bb8bfe2f6c9b8c7196eb{
margin-top:-30px;
height:1px;
}

.flex_column.av-13arsue-8-e64beac15b7a0b11ff53a507ea6719e9{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-zqqqx2-6-fd68e43b6f68568b3ff824232f7bd7a6{
margin-top:-30px;
height:1px;
}

.flex_column.av-13arsue-4-a6bcc6f3ad1289680adbc07908d6aadd{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-zqqqx2-2-47b2019fcbbd7160d1a855ab83762af6{
margin-top:-30px;
height:1px;
}

.flex_column.av-c8rpqu-9d8c1baa3eeb043eaf7642863338d707{
border-radius:0px 0px 0px 0px;
padding:20px 20px 20px 20px;
background-color:#caced1;
}

#top .hr.hr-invisible.av-dr63ae-de8d0f3bdf341bf3281b391ee4ac37da{
height:45px;
}

.flex_column.av-75gs0m-1cc518c61524ad04d34c54f67747e2f8{
border-radius:0px 0px 0px 0px;
padding:10px 10px 10px 10px;
background-color:rgba(202,206,209,0.5);
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-333586-31961cb6e3f5b1e7ce513c75f0d7d187 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-karybeqv-0f287956ac0e52722bb0a5f20062017c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-ljnu8g-811dd8939dc4be9382df29be038ea7cf .av-special-heading-tag{
font-size:0.8em;
}
}
