#top .av-special-heading.av-3v435i-377a9232a8e9da6e7485636e835aa661{
padding-bottom:10px;
}
body .av-special-heading.av-3v435i-377a9232a8e9da6e7485636e835aa661 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3v435i-377a9232a8e9da6e7485636e835aa661 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-4cqvdiu-a114bb8ccd9a41e915677fd18d06bf16{
height:30px;
}

.flex_column.av-43y8ml2-1338040d5f693539e59dcd6e4d943303{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2o3qeu-3d104731d677692435180f171903c96e{
height:60px;
}

#top .hr.hr-invisible.av-fb7me-4edf2df292ac20a8ca58fb18f45d7bdc{
height:60px;
}

#top .hr.hr-invisible.av-6lqjie-98bebf6451915970fb8b3725c05c738e{
height:60px;
}

#top .hr.hr-invisible.av-3u25eu-b0f3f89308d99333ed8116706d8226a3{
height:60px;
}

#top .hr.hr-invisible.av-g806e-37381afef72e34c00f14919a2c4e1686{
height:60px;
}

#top .hr.hr-invisible.av-3tqkqu-9dbcebca89ed0a85f4dd63687aff3014{
height:60px;
}

#top .hr.hr-invisible.av-2afmd2-50e8cab992b1d56454f8a3d280cbb00f{
height:60px;
}

#top .hr.hr-invisible.av-1y4lae-648d218d788e86d722da806df0fba917{
height:60px;
}

.flex_column.av-5ao0fa-824aef0c3ce5136d2a18abeef21a3aba{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4h11xi-731ca352d31122d54d3eb57ae0e81893{
height:60px;
}

.flex_column.av-alvxy-3afcb14f643c22e894fede88cf670e83{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2tmume-50fadfcfb51ea08a5ea93b6cae0b8136{
height:60px;
}

.flex_column.av-85un9y-91c068ec07beac12b43bd12125ff2174{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2c2rzq-1f4e802c0a9b69c5c7acc3d4fcbfe04b{
height:60px;
}

.flex_column.av-5d6oba-305831a382f159fbfd01236d9c3dfdd3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-1vh7na-ab9c2544bbdbac9822a263c2aff0bc29{
height:60px;
}

.flex_column.av-5h8mxy-a2218411995a7107083a68e9df7ddf8d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-32f7ie-9a73bda831badeae05f82ba0eb1d41e5{
height:60px;
}

.flex_column.av-710b6e-3ac43aa2de41eb5edb72af6bfb7b0324{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-24cs9y-ad7fb76f702d2486f3fa0a8b44b3b1f4{
height:60px;
}

.flex_column.av-l1kg8es7-ee6413ca282b9f7e5adaf4de3505932f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2lxac6-42e0532a85a0a98cd2c7d07af25fe2b4{
height:60px;
}

.flex_column.av-7ebrza-4718913c67e8427892f92091fc658cb0{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2k4cdi-e574a2d313bfa8812c8d5e90a464f9bb{
height:60px;
}

.flex_column.av-71n12u-ff36fd2059fe8cdb54e5ce16f7965fea{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2f3nqu-bee3c55022bdd5280f1df1df4c68d0be{
height:60px;
}

.flex_column.av-44fy7a-6c1e0a997c2efab1ad731adf333be617{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-31s26e-4a41495ee5bb8f00bf1210641f359457{
height:60px;
}

.flex_column.av-401uefa-670c73163eccc70abc34c1daa9f3134c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-6k9lna-f129593e787837b87b9ecd3dec0b061a{
height:60px;
}

.flex_column.av-4n6gly-322ab972d7a1193edcd38c1cb27f9508{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-26d8au-c99d98f00613f5b1f4def62f234db807{
height:60px;
}

.flex_column.av-615deu-eda5c7afec2b6082f2b13ddb0bd53c10{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2853om-8b8ae0fbec212f214838e079c6762be3{
height:60px;
}

.flex_column.av-564h2u-5ea66db650c14ccbd4d14177e53651c2{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-39-d457806ed290cad90344f197abf411d1{
height:60px;
}

.flex_column.av-401uefa-38-9b6bb16ff8638b782524090ed4d51854{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-35-c38cefe9108ba69c26cb6ffa1f69970e{
height:60px;
}

.flex_column.av-401uefa-34-b26da2c6a8e433945f94c457250510b4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-31-d92e9ae4021875d886358adef60a99da{
height:60px;
}

.flex_column.av-401uefa-30-e5b74b81e24cedfe3ac65a8cd38cc7db{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-27-907816a32fae58c5d76575a9da395584{
height:60px;
}

.flex_column.av-401uefa-26-8d695b46cc7748934de5f6555d2b2c91{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-23-9dfe990b4c2c9568142571b9aba90830{
height:60px;
}

.flex_column.av-401uefa-22-2e19b6b8d9b27cfeb577cb4d7fc64e4a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-19-1b2d7020b37899f9dbc39190cffd5198{
height:60px;
}

.flex_column.av-401uefa-18-96dd37c9c9f8638fe5922b2f2102a311{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-15-4c1bb634ffdc170fe85d16293ca19c47{
height:60px;
}

.flex_column.av-401uefa-14-b971ff4fd3284a0447341e4dba7eb7b5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-11-35a81ba81211e19e0bf2fb5f3affe838{
height:60px;
}

.flex_column.av-401uefa-10-cb82305fa0d49f0c3926d5c5bf11f42f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-7-14ea9af6c6b106ee6d1c7580d4b90545{
height:60px;
}

.flex_column.av-401uefa-6-41d5259c76f58dc5c713c04df6c124d3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-4cqvdiu-3-043730e0df3b02fad6330dbd8056f4f3{
height:60px;
}

#top .av-special-heading.av-2s0juu-1a72abd60008fd1f118c18c5e5b14658{
padding-bottom:10px;
}
body .av-special-heading.av-2s0juu-1a72abd60008fd1f118c18c5e5b14658 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2s0juu-1a72abd60008fd1f118c18c5e5b14658 .av-subheading{
font-size:15px;
}

.flex_column.av-401uefa-2-8ab37d8bf384e9b9d737b52d2844e2e4{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-3x7zcja-b7bd2701cd67f4f79f179d0b3efff569{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-3v6sbfa-4e1384a7ddcbce06ba5529358594d979 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3v6sbfa-4e1384a7ddcbce06ba5529358594d979 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3qwbeiu-d76e334364ef142546e55380c9f20f22{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-3np5qp2-b6082e5d207d6e0f636d5d9b70669c9a{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-3lv0hdy-92f556b1484442e983fe054d6e8c0776 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3lv0hdy-92f556b1484442e983fe054d6e8c0776 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3gip1k6-a5bca802f82806edaaf87a9296b9bdce{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-3dcobhy-a9f1883e86679033a5b14dd2136e1b11{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-3bcnig6-8fe318541013a0639667ae225d8a86d7 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3bcnig6-8fe318541013a0639667ae225d8a86d7 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-bi6zs6-60f94c37c0722450c1842984bc4843fa{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-347aohy-5d52a404b1229defbc693f5ec9e80eb5{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-32i5go6-1ee2c732fc802b401ef437ee8d264bc4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-32i5go6-1ee2c732fc802b401ef437ee8d264bc4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-2xswcti-c2feb5ec0c8270234f37d6cef410a426{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2t87fgm-a029f5da35e4dab62bc20662b8beac3f{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-2rkrq52-b27212b9a5a5e93ca76b9bde0ac6990d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-2rkrq52-b27212b9a5a5e93ca76b9bde0ac6990d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-2mywkpy-9d29cd46089069823dffe254a35299d5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2kfe91i-6803eb31c6a391eda8aaed5d10ea0c93{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
}

.avia-image-container.av-2hqft6e-e925e8b7b88c4f36dfecb93818747f55 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-2hqft6e-e925e8b7b88c4f36dfecb93818747f55 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-2d7ubva-d698f4ffcc147b53796dce8ea3b339a5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-tkyzq-4afda4c5430a7c9d19755f7cfc7f59f2{
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#10355e;
}

#top .av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e{
padding-bottom:0;
color:#ffffff;
font-size:28px;
}
body .av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .av-special-heading-tag{
font-size:28px;
}
.av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-32429y-d28cf9f99c8a9141e6e3aaf238d0f66d{
height:30px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-59nkp2-1ae24117e1b532f3ce1819d1c75a900e .av-special-heading-tag{
font-size:0.8em;
}
}
